<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>欢迎</title>
	<link rel="stylesheet" type="text/css" href="resources/css/main.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/index.css" />
</head>
<body>
	<div class="MainTitle">
		<h1>Welcome to mintcode achieve system</h1>
	</div>

	<div class="Banner">
		<ul>
			<li>这是第一条公告</li>
			<li>这是第二条公告</li>
		</ul>
	</div>

	<table class="MainContent">
		<tbody>
			<tr><td>test</td><td>test2</td></tr>
			<tr><td>test3</td><td>test4</td></tr>
		</tbody>
	</div>

</body>
</html>