@charset("utf-8");

table.table th, table.table td {
	text-align: center;
	vertical-align: middle;
}
table.table input {
	margin-bottom: 0px;
}

td input {
	text-align: center;
}

.MainTitle {
	background-color: #DDA0DD;
	border: 3px solid;
	padding: 5px;
}

.Notice {
	background-color: #CDC9C9;
	font-size: 20px;
	margin: 20px 0;
	padding: 1px;
}

.Notice li {
	list-style: none;
}

.MainContent {
	padding: 5px;
	margin: 0px;
	border-collapse: collapse;
	border-spacing: 0;
}

.MainContent tr {
	border-bottom: 1px dotted gray;
}

.MainContent tr td {
	padding: 0.1em;
}

.TimeHeader {
	padding: 5px;
}

#filedrag {
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}
